doctype 5
html
  head
    title Traced?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Are you being traced?
    form(action="/",method="post")
      input(type="submit", value="Start testing")
