doctype 5
html
  head
    title Traced?
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Are you being traced?
    form(action="/",method="post")
      input(type="submit", value="Start testing")
    a(href="https://github.com/medicalwei/traced")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
